<VirtualHost *:80>
     ServerAdmin admin@seyiakinnawo.live
     ServerName seyiakinnawo.live
     ServerAlias www.seyiakinnawo.live

     DocumentRoot /var/www/seyiakinnawo       

     <Directory /var/www/seyiakinnawo>
         Options Indexes FollowSymLinks
         AllowOverride All
         Require all granted
     </Directory>

     ErrorLog ${APACHE_LOG_DIR}/error.log
     CustomLog ${APACHE_LOG_DIR}/access.log combined
 </VirtualHost>
